@import "_mixins";
//#b81621

@font-face {
    font-family: 'ClearSans_Light';
    src: url('../fonts/EOT/ClearSans-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/EOT/ClearSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/WOFF/ClearSans-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/TTF/ClearSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/SVG/ClearSans-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
    }

@font-face {
    font-family: 'ClearSans-Bold';
    src: url('../fonts/EOT/ClearSans-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/EOT/ClearSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/WOFF/ClearSans-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/TTF/ClearSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/SVG/ClearSans-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
    }

@font-face {
    font-family: 'ClearSans-Regular';
    src: url('../fonts/EOT/ClearSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/EOT/ClearSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/WOFF/ClearSans-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/TTF/ClearSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/SVG/ClearSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
    }

body {
  font-family: 'ClearSans-Regular', Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}


#header{
    width: 100%;
    position: relative;
    background-color: #222;
    height: 136px;
    @include text-align(center);
    color: #fff;
    .intro{
        font-family: 'ClearSans_Light';
        .button{
            text-transform: uppercase;
            font-weight: 700!important;
        }
        span{
            font-size: 1.5em;
        }
    }
    #search{
        position: absolute;
        left: 5%;
        top: 50%;
        background: url(../img/boxes.png) no-repeat;
        text-indent: -9999px;
        width: 20px;
        height: 19px;
        cursor: pointer;
    }
    h1{
        color: grey;
        margin: 0 auto;
        position: relative;
        top: 5px;
        width: 30%;
        font-family: 'ClearSans-Bold';
    }
    p{
        text-transform: normal;
        font-size: 2em;
        margin: 0
    }
}

#sales{
    margin: 20px auto 0 auto;
    .columns{
        border-bottom: 1px solid grey;
        position: relative;
        overflow:hidden;
        padding-left: 0;
        margin-bottom: 10px;
        height: 320px;
        &:hover{
            cursor: pointer;
            .caption{
                opacity: 1;
            }
        }
        img{
            margin: 0px;
            padding: 0px;
            float: left;
            z-index: 4;
        }
        .percentoff{
            margin: 0;
            font-size: 1.2em;
        }
    }
    .blur{
        background-color: rgba(0,0,0,0.65);
        height: 200px;
        width: 250px;
        z-index: 5;
        position: absolute;
    }
    .caption{
        cursor: pointer;
        position: absolute;
        opacity: 0;
        -webkit-transition:all 0.45s ease-in-out;
        -moz-transition:all 0.45s ease-in-out;
        -o-transition:all 0.45s ease-in-out;
        -ms-transition:all 0.45s ease-in-out;
        transition:all 0.45s ease-in-out;
    }
    img{
        margin: 0px;
        padding: 0px;
        //float: left;
        z-index: 4;
    }
    .caption-text{
        z-index: 10;
        color: #fff;
        position: absolute;
        width: 250px;
        height: 200px;
        text-align: center;
        top: 0;
        .oldprice{
          font-size: 1em;
          text-decoration: line-through;
        }
        .newprice{
          font-size: 2em;
        }
        h5{
            color: #fff
        }
    }

    .buy-recommend{
       width: 250px;
       position: relative;
       top: 40px;
       line-height: 67px;
       height: 67px;
       display: block;
       vertical-align: bottom;
    }

    .masonry-brick{
        width: 200px
    }
}

.warning{
  background-color: #f0ad4e;
  color: #000;
}

.label{
    font-size: 0.9rem;
    Background-color: transparent!important;
}

.high{
    color: #b81621!important
}

.low{
    color: #222;
}

.medium{
    color: #f0ad4e;
}

.alert{
    background-color: #b81621!important;
    border-color: #b81621!important;
    font-weight: bold!important
}

.secondary, .success{
    font-weight: bold!important
}

#category{
    li{
        color: #222;
        text-align: left;
        border-bottom: 1px solid #ccc;
        &:last-child{
          border-bottom: none;
        }
        a{
            font-weight: bold;
        }
    }
}

.prices{
    position: relative;
    top: 20px;
}

h5{
    height: 50px;
    font-family: 'ClearSans-Bold';
    font-size: 1em;
}
.retailer{
  color: #222;
  font-size: 0.9em;
  float: left;
  width: 100%;
}





