{{!< layout}}
<div id="header">
    <a id="search" data-dropdown="category" data-options="is_hover:true">search</a>
    <ul id="category" data-dropdown-content class="f-dropdown content">
      <li><a href="#">Women Fashion</a></li>
      <li><a href="#">Men Fashion</a></li>
      <li><a href="#">Handbags &amp; Wallets</a></li>
      <li><a href="#">Shoes</a></li>
      <li><a href="#">Kids &amp; Babies Fashion</a></li>
      <li><a href="#">Luggage</a></li>
    </ul>

    <div class="row">
        <div class="small-12 large-12 columns intro">
            <h1>{{title}}</h1>
            <span>Shop Fashion items on sale from 3000+ fashion store.</span>
            <!--p>Buy or Recommend a Sale</p-->
            <!-- <p>All fashion sales in one place!</p> -->
            <a href="#" class="button small radius alert">join</a>
            <a href="#" class="button small radius secondary">sign in</a>
        </div>
    </div>
</div>
<div class="row">
     <div class="large-12 columns">
         <div id="sales"></div>
     </div>
</div>







