{{!< layout}}
<div id="header">
    <div class="row">
        <div class="small-12 large-12 columns intro">
            <h1>{{title}}</h1>
            <span>Shop Fashion items on sale from 3000+ fashion store.</span>
            <!--p>Buy or Recommend a Sale</p-->
            <!-- <p>All fashion sales in one place!</p> -->
            <a href="#" class="button small radius alert">join</a>
            <a href="#" class="button small radius secondary">sign in</a>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
        <dl class="sub-nav">
          <dt>Filter:</dt>
          <dd class="active"><a href="#">All</a></dd>
          <dd><a href="#">Women</a></dd>
          <dd><a href="#">Men</a></dd>
          <dd><a href="#">Kids</a></dd>
        </dl>
    </div>
   </div>
</div>
<div class="row">
     <div class="large-12 columns">
         <div id="sales" class="sales"></div>
     </div>
</div>







