<div class="small-12 large-3 columns item">
<span class="high label percentoff">{{salespercent}}% off</span>
<h5 class="truncate">{{name}}</h5>
  <img src="{{image.sizes.Large.url}}" />
  <div class="caption">
    <div class="blur"></div>
        <div class="caption-text">
        <div class="prices"><span class="oldprice">${{price}}</span><span class="newprice">${{salePrice}}</span></div>
            <div class="buy-recommend" data-id="{{id}}" data-url="{{clickUrl}}" data-seeMoreLabel="{{seeMoreLabel}}" data-categories="{{categories.name}}" data-store="{{retailer.name}}" data-storeid="{{retailer.id}}" data-brand="{{brand.name}}" data-inStock="{{inStock}}">
                <a href="{{clickUrl}}" class="button small radius alert js-buy">Buy</a>
                <a href="/facebook" class="button small radius success">Recommend</a>
            </div>
        </div>
    </div>
    <a href="" class="retailer">{{retailer.name}}</a>
</div>